// Breakpoint
// ----------
// @Example:
// .breakpoint(@tablet, {
//   .class-name {
//     padding: 20px;
//   }
// });
//
// @Example:
// .class-name {
//   .breakpoint(@tablet, {
//     padding: 20px;
//   })
// };
.breakpoint(@breakpoint, @rules) {
  @media @breakpoint {
    @rules();
  }
}


// Clearfix
// --------
.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


// Stretch an element
// ------------------
.stretch(@top: 0, @right: 0, @bottom: 0, @left: 0) {
  position: absolute;
  top: @top;
  right: @right;
  bottom: @bottom;
  left: @left;
}
