{{uppercase (t "index.message")}}

<div>
    <button type="button" class="btn"><span class="icon icon--facebook"></span></button>
    <button type="button" class="btn"><span class="icon icon--twitter"></span></button>
    <button type="button" class="btn"><span class="icon icon--google-plus"></span></button>
</div>
