{{uppercase (t "index.message")}}

<div>{{date now}}</div>

<br/>

<div>
  <strong class="t__block">Test event manager:</strong>
  <a href="http://twitter.com" data-event="stop" target="_blank">Stop</a> |
  <a href="http://twitter.com" data-event="prevent" target="_blank">Prevent</a> |
  <a href="http://twitter.com" data-event="stop|prevent" target="_blank">Stop & prevent</a>
</div>

<br/>

<div>
    <button type="button" class="btn"><span class="icon icon--facebook"></span></button>
    <button type="button" class="btn"><span class="icon icon--twitter"></span></button>
    <button type="button" class="btn"><span class="icon icon--google-plus"></span></button>
</div>
