<li>
    <a href="#">{{t "navigation.home"}}</a>
</li>

<li>
    <a href="#broken">{{t "navigation.broken"}}</a>
</li>

<li>
    <a href="#" data-language="en-US">{{t "language.en"}}</a>
    <a href="#" data-language="uk">{{t "language.uk"}}</a>
</li>
